* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.imgLeft {
    position: absolute;
    left: 375px; top: 100px;
    width: 200px;
}

.imgRight {
    position: absolute;
    left: 925px; top: 125px;
    width: 250px;
}

.status {
    position: absolute;
    top: 370px; left: 10px;   
}

.timer {
    position: absolute;
    top: 365px; left: 10px;   
}

.instructions {
    position: absolute;
    top: 300px; left: 10px;   
    max-width: 300px;
    font: 16px Arial, sans-Serif;
}

#main {
    font: 16px Arial, sans-Serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}