/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/* Container holding jsPsych content */

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    color: #666666;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}

.jspsych-display-element {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.jspsych-display-element:focus {
    outline: none;
}

.jspsych-content-wrapper {
    display: flex;
    margin: auto;
    flex: 1 1 100%;
    width: 100%;
}

.jspsych-content {
    max-width: 95%;
    /* this is mainly an IE 10-11 fix */
    text-align: center;
    margin: auto;
    /* this is for overflowing content */
}

.jspsych-top {
    align-items: flex-start;
}

.jspsych-middle {
    align-items: center;
}


/* fonts and type */

.jspsych-display-element {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.6em;
}


/* Form elements like input fields and buttons */

.jspsych-display-element input[type="text"] {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 14px;
}


/* borrowing Bootstrap style for btn elements, but combining styles a bit */

.jspsych-btn {
    display: inline-block;
    padding: 6px 12px;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.jspsych-btn:hover {
    background-color: #ddd;
    border-color: #aaa;
}

.jspsych-btn:disabled {
    background-color: #eee;
    color: #aaa;
    border-color: #ccc;
    cursor: not-allowed;
}


/* jsPsych progress bar */

#jspsych-progressbar-container {
    position: absolute;
    left: 300px;
    color: #555;
    margin-bottom: 1em;
    text-align: center;
    padding: 8px 0px;
    width: 60%;
    line-height: 1em;
}

#jspsych-progressbar-container span {
    font-size: 14px;
    padding-right: 14px;
}

#jspsych-progressbar-outer {
    background-color: #eee;
    width: 50%;
    margin: auto;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#jspsych-progressbar-inner {
    background-color: #aaa;
    width: 0%;
    height: 100%;
}


/* Control appearance of jsPsych.data.displayData() */

#jspsych-data-display {
    text-align: left;
}

.imgLeft {
    position: absolute;
    left: 375px;
    top: 100px;
    width: 200px;
    border: none;
}

.imgRight {
    position: absolute;
    left: 925px;
    top: 125px;
    width: 250px;
    border: none;
}

.status {
    position: absolute;
    top: 420px;
    left: 10px;
    max-width: 300px;
}

.timer {
    position: absolute;
    top: 450px;
    left: 10px;
}

.instructions {
    position: absolute;
    top: 300px;
    left: 10px;
    max-width: 300px;
}

.main {
    color: #666666;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
}

.btn {
    position: absolute;
    top: 500px;
    left: 75px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.btn:hover {
    background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color: #f6f6f6;
}

.reminder {
    position: absolute;
    top: 500px;
    left: 10px;
    max-width: 300px;
}

.accuracy {
    position: absolute;
    top: 200px;
    max-width: 500px;
}

.acc_btn {
    position: absolute;
    top: 200px;
    left: 500px;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

.dotStimulus {
    height: 50px;
    width: 50px;
    background-color: rgb(196, 20, 20);
    border-radius: 50%;
}